@import "./variables/colors";
@import "./mixin.scss";

.container {
  width: 100%;
  height: 300px;
  @include flex;
  justify-content: center;
}
.select {
  display: inline-block;
  position: relative;
  width: 400px;
  background-color: $background-color;
  border-radius: 5px;

  &__header {
    position: relative;
    width: 350px;
  }
  &__img {
    opacity: 60%;
    width: 10px;
    position: absolute;
    left: calc(350px - 5px);
    top: 3px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  &__input {
    outline: none;
    width: inherit;
    border-radius: 11px;
    cursor: pointer;
    background-color: $background-color;
    padding: 10px 10px;
    border: 1px solid $border-color;
  }
  &__input:focus,
  &__input:active {
    border: 2px solid $selected-color;
    box-shadow: 0 0 8px 0 $selected-color;
  }

  &__options {
    margin: 0;
    padding: 15px;
    text-align: left;
    border-radius: 11px;
    position: absolute;
    margin-top: 5px;
    width: calc(400px - 60px);
    border: 1px solid #e4e4e4;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
  }
  &__options--hide {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
  }
  &__options--show {
    min-height: 50px;
    opacity: 1;
    visibility: visible;
  }
  &__option {
    @include option;
  }
  &__option:hover {
    @include option;
    background-color: $background-hover;
    border-radius: 11px;
  }
  &__option--active {
    @include flex;
    justify-content: space-between;
    background-color: $active-option-back-color;
    color: $active-text-color;
    border-radius: 11px;
  }
  &__option-li {
    color: $text-color;
  }
  &__option-img {
    width: 14px;
    height: 14px;
    opacity: 50%;
  }
}
